
{% load static %}
<head>
    <title>My Django Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <center>
        <div class="jumbotron">
            <h2>Hello Sky 360!!</h2>
        </div>
        <p>This Project is developed using
            <b>Django {{ version }}</b>.
        </p>
        <p>This page is being served through Gunicorn. You can access the
            <a href='/admin'>admin site</a> as well.</p>

        <p>Static contents are being served through Nginx.</p>
        <p>Postgres is used as database for this Project.</p>
        <p>Please check django logs in shell using command
            <b>make shell-web</b>.</p>
        <p>There you will see
            <b>Printing Hello from Celery</b>, which is printed from celery method.</p>
        <p>Redis was used as broker for Celery.</p>
        <button id="click">React Test</button>
        </div>

    </center>
</body>

<footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'myapp/build/main.js' %}"></script>
</footer>
